.message-wrapper {
  display: block;
  position: fixed;
  width: 100vw;
  height: 100vh;
  top: 0;
  left: 0;
  z-index: 999;
  background: rgba(0, 0, 0, .6);
  .message {

    background-color: #fff;
    margin: 0 auto;
    margin-top: 15vh;
    padding: 0 0;

    .close {
      padding: 15px;
    }

    .jumbotron {
      margin-bottom: 0;

      svg {
        margin-bottom: 20px;
      }
    }

  }
}