@mixin absolute-width($width){

}

.register-form{
  background: $darken-color;
  margin-top: 150px;
  padding: 1em;
  color: $white-snow;
.form-control{
  border: 0;
  box-shadow: none;
}

.pimp{
  border:none;
  background: transparent;
}

.pimp:focus{
  border: none;
}
  
  .form-loader{
      position: absolute;
      width: 10%;
      height: 1px;
      background: #D52B1E;
  }

}


.form-control {
  &:focus + .form-loader{
    width: 85%;
  }
}


.btn:hover {
  color: #fff;
  background-color: #bf261b;
  border-color: #bf261b;
}

small a {
  text-decoration: none;
  color: $white-snow;
  margin-left: -20px;
}

small a:hover{
  text-decoration: none;
  color: rgba(255, 255, 255, 0.5);
}