@import url('https://fonts.googleapis.com/css?family=Titillium+Web:400,600,600i,700,900');
@import url('https://fonts.googleapis.com/css?family=Orbitron:400,500,700,900');

html{
  overflow-y: scroll;
  scroll-behavior: smooth;
}
body {
  font-family: 'Titillium Web', sans-serif;
  background: #c1c1c1;
}

.navbar {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  background-color: $darken-color !important;
  z-index: 999;
}

.navbar:after {
  position: absolute;
  content: '';
  top: 100%;
  left: 0;
  width: 0;
  height: 0;
  border-top: 6.35vw solid $darken-color;
  border-right: 100vw solid transparent;
}

.main-header {
  position: fixed;
  padding-top: 50px;
  height: 100vh;
  z-index: 1;
  img {
    width: 100vw;
    height: 100%;
  }
  .header-title {
    position: absolute;
    left: 10%;
    z-index: 10;
    top: 30%;
  }

  .header-title h1 {
    color: #fffafa;
    font-size: 50px;
    text-align: left;
    font-weight: 600;
    line-height: 70px;
    padding-bottom: 30px;
    position: relative;
    font-family: 'Orbitron', sans-serif;

  }

  .header-title h4 {
    padding: 15px 30px;
    background: rgba(0, 0, 0, 0.62);
    text-align: left;
    font-size: 11px;
    float: left;
    text-transform: uppercase;
    color: rgba(255, 255, 255, 0.71);
    letter-spacing: 6px;
    font-weight: 600;
  }

  .header-title .btn, .btn {
    background: #D52B1E;
    border-color: #D52B1E;
    border-radius: 0;
    padding: 10px 30px;
    margin-top: 50px;
  }

  .btn:hover {
    color: #fff;
    background-color: #bf261b;
    border-color: #bf261b;
  }

  .header-title .btn:focus, .btn-primary.focus {
    box-shadow: 0 0 0 0.2rem #bf261b;
  }
}

.main-content {
  position: absolute;
  top: 100vh;
  left: 0;
  width: 100vw;
  height: auto;
  margin: 0;
  background: $lighther-color;
  z-index: 1;
}

.main-content:before {
  position: absolute;
  content: '';
  top: -6.30vw;
  left: 0;
  width: 0;
  height: 0;
  border-bottom: 6.35vw solid $lighther-color;
  border-left: 100vw solid transparent;
}

.list-triks{
  margin-top:100px;
  margin-bottom: 100px;
}

.trick-card {
  display: inline-block;
  width: 300px;
  margin: 20px 10px;
  padding-left: 0;
  padding-right: 0;
  border-radius: 0;
  text-align: left;
  background: #fffafa;
  border: none;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
  transition: all 0.3s cubic-bezier(.25, .8, .25, 1);

}

.trick-card:hover {
  box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.22);
}

.trick-card:hover .card-pattern {
  width: 50px;

}

.trick-card:hover .card-pattern ul {
  display: block;
}

.trick-card img {
  width: 100%;
  height: 190px;
}

.trick-card .btn {
  position: absolute;
  bottom: 0;
  left: 0;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
  transition: all 0.3s cubic-bezier(.25, .8, .25, 1);
}

.trick-card .btn:hover {
  color: #fff;
  background-color: #bf261b !important;
  border-color: #bf261b !important;
  box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.22);
}

.card-body {
  height: 200px;
}

.card-pattern {
  position: absolute;
  right: 0;
  z-index: 1;
  width: 0;
  height: 190px;
  background: rgba(0, 0, 0, .7);
  transition: 0.3s;
  -webkit-transition: 0.3s;

  >:before {
    position: absolute;
    content: '';
    top: 0;
    left: -50px;
    width: 0;
    height: 0;
    border-bottom: 190px solid rgba(0, 0, 0, .7);
    border-left: 50px solid transparent;
  }

  >ul {
    display: none;
    width: 50px;
    margin-left: -38px;
  }

  >ul li {
    display: inline-block;
    margin: 0;
    padding: 0;
    width: 50px;
    height: 47.5px;
    line-height: 47.5px;
    text-align: center;
  }
  >ul li a {
    width: 50px;
    height: auto;
    text-align: center;
    color: #fff;
  }

  >ul li a:hover {
    color: #D52B1E;
    font-size: larger;
  }
}

.btn {
  background: #D52B1E;
  border-color: #D52B1E;
  border-radius: 0;
  padding: 10px 30px;
  margin-top: 50px;

  .btn:hover {
    color: #fff;
    background-color: #bf261b !important;
    border-color: #bf261b !important;
  }
}

footer{
  width: 100vw;
  color: $white-snow;
  background-color: #3c455b;
  a{
    color: rgba(255, 255, 255, 0.5);
  }
  a:hover{
    text-decoration: none;
    color: $white-snow;
  }
  .footer-copyright{
    background-color:$darken-color;
  }
}

