{% block footer %}

<footer class="page-footer font-small blue pt-4">

    <!-- Footer Links -->
    <div class="container-fluid text-center text-md-left">

        <!-- Grid row -->
        <div class="row">

            <!-- Grid column -->
            <div class="col-md-6 mt-md-0 mt-3">

                <!-- Content -->
                <h5 class="text-uppercase">Snow Tricks</h5>
                <p>Qu'elles soient "old school" ou "new school", <br>les prouesses aériennes du snowboard
                    sont toujours d'une beauté à couper le souffle.<br> la preuve en images.</p>

            </div>
            <!-- Grid column -->

            <hr class="clearfix w-100 d-md-none pb-3">

            <!-- Grid column -->
            <div class="col-md-3 mb-md-0 mb-3">

                <!-- Links -->
                <h5 class="text-uppercase">Menu</h5>

                <ul class="list-unstyled">
                    <li>
                        <a href="{{ path('home') }}">Accueil</a>
                    </li>
                    <li>
                        <a href="{{ path('home') }}">Tricks</a>
                    </li>
                    <li>
                        <a href="{{ path('login') }}">Login</a>
                    </li>
                    <li>
                        <a href="{{ path('user_registration') }}">Register</a>
                    </li>
                </ul>

            </div>
            <!-- Grid column -->

            <!-- Grid column -->
            <div class="col-md-3 mb-md-0 mb-3">

                <!-- Links -->
                <h5 class="text-uppercase">Liens Utiles</h5>

                <ul class="list-unstyled">
                    <li>
                        <a href="https://fr.wikipedia.org/wiki/Snowboard">Wikipedia</a>
                    </li>
                    <li>
                        <a href="http://www.skiclub-legrandbornand.com/content/lexique-du-snowboarder-0">Lexique
                            du snowboarder</a>
                    </li>
                    <li>
                        <a href="https://www.redbull.com/ch-fr/les-tricks-typiques-de-snowboard">Les tricks
                            typiques de snowboard</a>
                    </li>
                    <li>
                        <a href="http://www.skipass.com/forums/sports/snowboard/sujet-67154.html">Forum</a>
                    </li>
                </ul>

            </div>
            <!-- Grid column -->

        </div>
        <!-- Grid row -->

    </div>
    <!-- Footer Links -->

    <!-- Copyright -->
    <div class="footer-copyright text-center py-3">© 2018 Copyright :
        <a href="https://p6.hamda.ch"> www.hamda.ch</a>
    </div>
    <!-- Copyright -->

</footer>

{% endblock footer %}
