@font-face {
  font-family: $street_brush;
  src: url($street_brush_url);
}

html {
  overflow-y: scroll;
  scroll-behavior: smooth;
}

body {
  font-family: $titillium_web, $sans_serif;
  background: $color_silver_approx;
}

a {
  text-decoration: none;
  color: $color_soapstone_approx;
}

.street-titles {

  @include rotate(-4deg);
  margin-bottom: 60px;
  margin-left: 20px;
  font-family: $street_brush, $arial, $sans_serif;
  font-size: 60px;
  font-weight: 500;
  text-transform: capitalize;
}

.btn {
  background: $color_thunderbird_approx;
  border-color: $color_thunderbird_approx;

  @include border-radius(0);
  padding: 10px 30px;
  margin-top: 50px;
  &:hover {
    color: $white;
    background-color: $color_thunderbird_approx;
    border-color: $color_thunderbird_approx;
  }
}

.register-form {
  background: $main_darken_color;
  margin-top: 150px;
  margin-bottom: 200px;
  padding: 1em;
  color: $color_soapstone_approx;
  .form-control {
    border: 0;

    @include box-shadow(none);
  }
  .pimp {
    border: none;
    background: transparent;
    &:focus {
      border: none;
    }
  }
  .form-loader {
    position: absolute;
    width: 10%;
    height: 1px;
    background: $color_thunderbird_approx;
  }
}

.card-pattern > :before {
  position: absolute;
  content: '';
  top: 0;
  left: -50px;
  width: 0;
  height: 0;
  border-bottom: 190px solid $black_70;
  border-left: 50px solid transparent;
}

.form-control:focus + .form-loader {
  width: 85%;
}