{% extends 'frontend/layout.html.twig' %}
{% block content %}
    <div class="main-container container-fluid">

        <!=====----- delete-trick popin -----=====>
        {% include('messages/delete-trick.html.twig') %}
        <!=====----- delete-trick popin end -----=====>

        <div id="main-header" class="main-header row">
            <img src="{{ asset('img/bg.jpg') }}" alt="image">
            <div id="header-title" class="header-title">
                <h1>Les Tricks<br> Typiques de <br><span>Snowboard </span>à Connaître </h1>
                <h4>La montagne, ça vous gagne!</h4>
                <div class="clearfix"></div>
                <a class="btn btn-primary" href="#" role="button">En savoir plus</a>
            </div>
        </div>
        <div class="main-content row">

            <!=====----- list tricks -----=====>
            {% include('frontend/parts/listTricks.html.twig') %}
            <!=====----- list tricks end -----=====>

            <!=====----- footer -----=====>
            {% include('frontend/parts/footer.html.twig') %}
            <!=====----- footer end -----=====>

        </div>
    </div>

    {% block javascripts %}
        <script src="{{ asset('build/js/app_home.js') }}"></script>
    {% endblock javascripts %}


{% endblock content %}

