{% extends 'frontend/layout.html.twig' %}
{% block content %}
    <!=====----- navigation -----=====>
    {% include('frontend/parts/navigation.html.twig') %}
    <!=====----- navigation end-----=====>

    <div class="main-container container-fluid">

        <div class="main-content row" style="top:100px">
            <div class="single-trick">

                <div class="card mb-3 center-block">
                    <img class="card-img-top" src="https://via.placeholder.com/726x400" alt="Card image cap">
                    <div class="card-body" style="height: auto">
                        <div class="list-tricks-images col text-center">
                            <img src="https://via.placeholder.com/200x200" alt="trick-image" class="img-thumbnail">
                            <img src="https://via.placeholder.com/200x200" alt="trick-image" class="img-thumbnail">
                            <img src="https://via.placeholder.com/200x200" alt="trick-image" class="img-thumbnail">
                            <img src="https://via.placeholder.com/200x200" alt="trick-image" class="img-thumbnail">
                        </div>
                        <br>
                        <h5 class="card-title">Nom de la figure</h5>
                        <p>
                        <small class="text-muted"><strong>Auteur : </strong> Lilou75</small>
                        </p>
                        <br>
                        <h5 class="card-title">Description</h5>
                        <p class="card-text">Vestibulum quis massa laoreet, viverra erat sed, fringilla lorem. Sed sagittis diam eget luctus pretium. Nam id ex risus. Donec fringilla purus sit amet nisl efficitur, eget accumsan elit ullamcorper. Nunc dolor nulla, aliquet sit amet ligula at, luctus vehicula turpis. Nunc at rutrum turpis, nec volutpat lacus. Ut eget nisi ex.</p>
                        <p class="card-text">
                            <small class="text-muted"><strong>crée le : </strong> 08/11/2018</small>
                        </p>
                        <div class="col" style="width:100%">
                            <h5 class="card-title">Commentaires</h5>
                            <ul class="list-unstyled">
                                <li class="media">
                                    <img class="mr-3" src="https://via.placeholder.com/64x64" alt="profile-image">
                                    <div class="media-body">
                                        <h5 class="mt-0 mb-1">Morgan68</h5>
                                        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nullam interdum tellus a tincidunt dictum. Etiam a ipsum justo. In lacinia convallis tempor. Nullam iaculis et quam non suscipit. Aliquam erat volutpat. Vestibulum non vulputate dui.
                                    </div>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>


            </div>
            <!-- Footer -->
            <footer class="page-footer font-small blue pt-4">

                <!-- Footer Links -->
                <div class="container-fluid text-center text-md-left">

                    <!-- Grid row -->
                    <div class="row">

                        <!-- Grid column -->
                        <div class="col-md-6 mt-md-0 mt-3">

                            <!-- Content -->
                            <h5 class="text-uppercase">Snow Tricks</h5>
                            <p>Qu'elles soient "old school" ou "new school", <br>les prouesses aériennes du snowboard
                                sont toujours d'une beauté à couper le souffle.<br> la preuve en images.</p>

                        </div>
                        <!-- Grid column -->

                        <hr class="clearfix w-100 d-md-none pb-3">

                        <!-- Grid column -->
                        <div class="col-md-3 mb-md-0 mb-3">

                            <!-- Links -->
                            <h5 class="text-uppercase">Menu</h5>

                            <ul class="list-unstyled">
                                <li>
                                    <a href="{{ path('home') }}">Accueil</a>
                                </li>
                                <li>
                                    <a href="{{ path('home') }}">Tricks</a>
                                </li>
                                <li>
                                    <a href="{{ path('login') }}">Login</a>
                                </li>
                                <li>
                                    <a href="{{ path('user_registration') }}">Register</a>
                                </li>
                            </ul>

                        </div>
                        <!-- Grid column -->

                        <!-- Grid column -->
                        <div class="col-md-3 mb-md-0 mb-3">

                            <!-- Links -->
                            <h5 class="text-uppercase">Liens Utiles</h5>

                            <ul class="list-unstyled">
                                <li>
                                    <a href="https://fr.wikipedia.org/wiki/Snowboard">Wikipedia</a>
                                </li>
                                <li>
                                    <a href="http://www.skiclub-legrandbornand.com/content/lexique-du-snowboarder-0">Lexique
                                        du snowboarder</a>
                                </li>
                                <li>
                                    <a href="https://www.redbull.com/ch-fr/les-tricks-typiques-de-snowboard">Les tricks
                                        typiques de snowboard</a>
                                </li>
                                <li>
                                    <a href="http://www.skipass.com/forums/sports/snowboard/sujet-67154.html">Forum</a>
                                </li>
                            </ul>

                        </div>
                        <!-- Grid column -->

                    </div>
                    <!-- Grid row -->

                </div>
                <!-- Footer Links -->

                <!-- Copyright -->
                <div class="footer-copyright text-center py-3">© 2018 Copyright :
                    <a href="https://p6.hamda.ch"> www.hamda.ch</a>
                </div>
                <!-- Copyright -->

            </footer>
            <!-- Footer -->
        </div>
    </div>


{% endblock content %}

