//colors
$main_darken_color: #32394c;
$main_secondary_color: #5c6378;
$main_footer_color: #3c455b;
$color_thunderbird_approx: #d52b1e;
$color_btn_red_hover: #bf261b;
$color_silver_approx: #c1c1c1;
$color_soapstone_approx: #fffafa;
$white_50: rgba(255, 255, 255, 0.5);
$black_70: rgba(0, 0, 0, 0.7);
$black_12: rgba(0, 0, 0, 0.12);
$black_24: rgba(0, 0, 0, 0.24);
$black_25: rgba(0, 0, 0, 0.25);
$black_22: rgba(0, 0, 0, 0.22);
$black_62: rgba(0, 0, 0, 0.62);
$white: #fff;
$white_71: rgba(255, 255, 255, 0.71);
